<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Life's going on</title>
</head>
<body>
{% extends 'base.html' %}
{% block app_content %}
<a href="http://127.0.0.1:5000/" class="btn btn-warning home">Home</a>
<a href="http://127.0.0.1:5000/live/" class="btn btn-info refresh">Create new live</a>
<div class="counter">{{ gen.counter }}</div>
<table class="world">
    <tr>
    {% for i in range(gen._GameOfLife__height) %}
        {% for j in range(gen._GameOfLife__width) %}
            {% if gen.world[i][j] %}
                <td class="cell living-cell"></td>
            {% elif gen.old_world[i][j] and not gen.world[i][j] %}
                <td class="cell dead-cell"></td>
            {% else %}
                <td class="cell"></td>
            {% endif %}
        {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    setInterval( () => window.location.reload(), 1000);
</script>
{% endblock %}
</body>
</html>